@charset "UTF-8";
/*Утилиты*/
.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}

.group-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bottom-group {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.top-group {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.side-image {
  width: auto;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.group-img img {
  margin: 5px;
}

.sun {
  position: relative;
}

.description {
  position: absolute;
  width: 770px;
  height: 400px;
  background-color: #ffffff;
  padding: 10px;
  top: 57%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.about-section {
  position: relative;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
}

.navigation li {
  padding: 10px;
}

.navigation li :not(:last-child) {
  margin-right: 10px;
}

.overlay {
  max-width: 1600px;
  height: 900px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.hero-section {
  padding-top: 100px;
  display: block;
  /*outline: 1px solid red;*/
  text-align: center;
}

.foto-frame {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.hero-foto {
  width: 400px;
  height: 400px;
  margin-right: 50px;
  border-radius: 50%;
}

.hero-text {
  margin: 50px;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-header {
  font-size: 17pt;
}

section {
  outline: 1px solid red;
}

.hero-block-header {
  font-size: 25pt;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hero-block-header::after {
  margin-bottom: 50px;
  margin: auto;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../swg/tel.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-block-text {
  margin: 40px;
}

body {
  background-color: #ffffff;
  color: #2f303a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

body.modal-open {
  overflow: hidden;
}

.button {
  width: 200px;
  background-color: #5ec8d1;
  color: #ffffff;
  border-radius: 10px;
  border-color: #2196f3;
  margin: 40px;
}

.directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 50px;
}

.direction-item {
  -ms-flex-preferred-size: calc(100% / 3 - 10px);
      flex-basis: calc(100% / 3 - 10px);
  margin-left: 10px;
  margin-top: 10px;
}

.container-directions {
  position: absolute;
  top: 215px;
  margin: 50px 100px;
  text-align: center;
}

.background-directions {
  width: 100%;
  height: 1200px;
  background-color: #5ec8d1;
  text-align: center;
  margin: auto;
}

.direction-header {
  display: inline-block;
  margin: 20px;
}

.direction-section {
  position: relative;
  padding-bottom: 500px;
}
/*# sourceMappingURL=main.css.map */