@charset "UTF-8";
/*Утилиты*/
.list {
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  display: block;
}

.counter-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #000000;
  max-width: 203px;
}

.counter-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 87px;
}

.counter {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #AA5CE2;
  text-align: center;
}

.counter-list-item:not(:last-child) {
  margin-right: 40px;
}

.counter-list-item:hover .counter {
  font-size: 75px;
}

.about-description {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.about-section .container {
  background-color: #F5E9FB;
}

.about-img {
  margin-bottom: 17px;
  max-width: 618px;
  padding-top: 80px;
  margin-right: 31px;
}

.about-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-content {
  position: relative;
}

.about-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.about-text-indent {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
}

.about-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-section .header {
  text-align: left;
}

.about-section .header::after {
  width: 40%;
}

.about-decor {
  position: absolute;
  bottom: -10px;
  right: 25px;
  width: 256px;
}

.header .container {
  position: relative;
  z-index: 1;
  outline: 5px solid blue;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #F5E9FB;
  padding-top: 57px;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 3px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.navigation li {
  padding: 10px;
}
.navigation li:not(:last-child) {
  margin-right: 20px;
}

.navigation-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #181717;
  z-index: 10;
}

.navigation-item:hover {
  border-bottom: 2px solid #9957ED;
}

.current {
  border-bottom: 2px solid #9957ED;
}

.navigation-item a:active {
  color: #181717;
}
.navigation-item a:visited {
  color: #181717;
}

.hero-section .container {
  background-color: #F5E9FB;
}

.hero-header {
  font-size: 17pt;
}

section {
  outline: 1px solid red;
}

.hero-block-header {
  font-size: 25pt;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hero-block-header::after {
  margin-bottom: 50px;
  margin: auto;
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  background-image: url(../swg/tel.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-header-topic {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  letter-spacing: 0.035em;
  text-transform: uppercase;
  color: #000000;
}

.hero-header-person {
  font-family: "Pattaya";
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 89px;
  letter-spacing: 0.035em;
  background: linear-gradient(94.38deg, #B33EFB -3.82%, #391FD9 99.49%), #AA5CE2;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

h1 {
  margin-bottom: 44px;
  padding-top: 151px;
}

.button {
  display: inline-block;
  width: 237px;
  height: 70px;
  border-radius: 50px;
  border: 2px solid #3F0958;
  color: #161616;
  margin-bottom: 141px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #161616;
  text-align: center;
  padding-top: 21px;
  padding-bottom: 21px;
}

.button:focus, .button:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
          box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
}

.button-accent {
  background-image: -webkit-gradient(linear, left top, right top, from(#B33EFB), to(#391FD9));
  background-image: linear-gradient(to right, #B33EFB, #391FD9);
  border-style: hidden;
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.hero-button :not(:last-child) {
  margin-right: 27px;
}

.hero-text {
  margin-bottom: 64px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #141313;
  max-width: 507px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.social-links :not(:last-child) {
  margin-right: 15px;
}

.hero-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-image: url(./../images/hero-decor.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.logo {
  margin-right: 81px;
}

.contacts-img {
  display: inline-block;
  margin-right: 20px;
}

.contacts-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #0A0909;
}

.foto-frame {
  display: block;
  position: absolute;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url(./../images/nat-ugai.png);
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
  height: 900px;
  width: 1920px;
}

.contacts {
  z-index: 10;
}

.hero-content {
  z-index: 20;
}

body {
  background-color: #ffffff;
  color: #2f303a;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

body.modal-open {
  overflow: hidden;
}

.container {
  width: 100%;
  padding-left: 160px;
  padding-right: 160px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;
}

@media (max-width: 1150px) {
  .container {
    padding-left: 120px;
    padding-right: 120px;
  }
}
@media (max-width: 1100px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
}
@media (max-width: 950px) {
  .container {
    padding-left: 80px;
    padding-right: 80px;
  }
}
@media (max-width: 900px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 800px) {
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 374px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.directions {
  position: relative;
  max-width: 381px;
}

.container-directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 110px;
}

.container-directions :first-child .direction-item::after {
  content: "";
  position: absolute;
  right: -67px;
  width: 32px;
  height: 32px;
  top: 0;
  display: inline-block;
  background-image: url(./../images/check.png);
}

.container-directions :last-child .direction-item::before {
  content: "";
  position: absolute;
  margin-left: -70px;
  width: 32px;
  height: 32px;
  background-image: url(./../images/check.png);
  display: inline-block;
}

.directions-picture {
  max-width: 575px;
  margin-right: 60px;
  margin: -30px 135px 0px 135px;
}

.direction-item {
  margin-bottom: 40px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  position: relative;
  min-height: 56px;
}

.direction-item:hover.direction-item::before {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
}
.direction-item:hover.direction-item::after {
  width: 34px;
  height: 34px;
  background-repeat: no-repeat;
}

.direction-section .header::after {
  width: 43%;
}

.contacts {
  color: #0A0909;
  margin-right: auto;
}

.page-footer {
  position: relative;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  background-color: #38134A;
  color: #ffffff;
}
.page-footer_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.page-footer_items {
  list-style: none;
  padding: 0;
}
.page-footer_items__position {
  margin-right: 239px;
}
.page-footer_items-wrap {
  margin-left: 324px;
  position: relative;
}
.page-footer_item {
  color: #ffffff;
  margin-bottom: 30px;
}
.page-footer_link {
  color: #ffffff;
  text-decoration: none;
}
.page-footer_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 65px;
}
.page-footer_logo {
  margin-right: 212px;
}
.page-footer_img {
  max-width: 59px;
  max-height: 51px;
}
.page-footer_social-links {
  margin-top: 38px;
  margin-bottom: 72px;
}

.page-footer .container {
  background-color: #38134A;
}

.privacy {
  position: absolute;
  bottom: 52px;
}

.arrow-up {
  position: absolute;
  bottom: 109px;
  left: -220px;
  cursor: pointer;
}

.arrow-up_media {
  display: none;
}

@media (max-width: 1850px) {
  .page-footer_items__position {
    margin-right: 170px;
  }
  .page-footer_items-wrap {
    margin-left: 280px;
  }
  .page-footer_logo {
    margin-right: 180px;
  }
  .arrow-up {
    left: -200px;
  }
}
@media (max-width: 1700px) {
  .page-footer_items__position {
    margin-right: 160px;
  }
  .page-footer_items-wrap {
    margin-left: 250px;
  }
  .page-footer_logo {
    margin-right: 130px;
  }
  .arrow-up {
    left: -180px;
  }
}
@media (max-width: 1550px) {
  .page-footer_items__position {
    margin-right: 150px;
  }
  .page-footer_items-wrap {
    margin-left: 220px;
  }
  .page-footer_logo {
    margin-right: 90px;
  }
  .arrow-up {
    left: -160px;
  }
}
@media (max-width: 1450px) {
  .page-footer_items__position {
    margin-right: 100px;
  }
  .page-footer_items-wrap {
    margin-left: 200px;
  }
  .page-footer_logo {
    margin-right: 100px;
  }
  .arrow-up {
    left: -140px;
  }
}
@media (max-width: 1350px) {
  .page-footer_items__position {
    margin-right: 80px;
  }
  .page-footer_items-wrap {
    margin-left: 180px;
  }
  .page-footer_logo {
    margin-right: 80px;
  }
  .arrow-up {
    left: -120px;
  }
}
@media (max-width: 1350px) {
  .page-footer {
    font-size: 18px;
  }
  .page-footer_item {
    margin-bottom: 25px;
  }
  .page-footer_items__position {
    margin-right: 55px;
  }
  .page-footer_items-wrap {
    margin-left: 150px;
  }
  .page-footer_logo {
    margin-right: 80px;
  }
  .arrow-up {
    left: -100px;
  }
}
@media (max-width: 1050px) {
  .page-footer_item {
    margin-bottom: 20px;
  }
  .page-footer_items__position {
    margin-right: 50px;
  }
  .page-footer_items-wrap {
    margin-left: 120px;
  }
  .page-footer_logo {
    margin-right: 60px;
  }
  .arrow-up {
    left: -80px;
  }
}
@media (max-width: 970px) {
  .page-footer_items__position {
    margin-right: 35px;
  }
  .page-footer_items-wrap {
    margin-left: 70px;
  }
  .page-footer_logo {
    margin-right: 35px;
  }
  .arrow-up {
    left: -70px;
  }
}
@media (max-width: 750px) {
  .page-footer_items__position {
    margin-right: 30px;
  }
  .page-footer_items-wrap {
    margin-left: 50px;
  }
  .page-footer_logo {
    margin-right: 30px;
  }
  .page-footer_img {
    max-width: 51px;
    max-height: 44px;
  }
  .arrow-up {
    left: -50px;
  }
}
@media (max-width: 700px) {
  .page-footer_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-footer_list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .page-footer_logo {
    margin-bottom: 46px;
  }
  .page-footer_items-wrap {
    margin-left: 0;
  }
  .arrow-up {
    display: none;
  }
  .arrow-up_media {
    display: block;
    position: absolute;
    bottom: 34px;
    right: 44px;
  }
  .privacy {
    bottom: 25px;
  }
}
.header {
  display: inline-block;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  /* identical to box height */
  color: #B718EF;
  padding-top: 80px;
  margin-bottom: 55px;
}

.header::after {
  content: "";
  display: block;
  width: 50%;
  height: 3px;
  background-color: #BD3CEB;
  margin-top: 10px;
}

.arrow {
  width: 69px;
  height: 47px;
  border-radius: 50px;
}
.arrow:focus, .arrow:hover {
  -webkit-box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
          box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
}

@media (max-width: 700px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 24px;
    line-height: 29px;
    padding-top: 40px;
  }
  .header::after {
    width: 87px;
  }
}
.consultation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.consultation-item {
  margin-right: 40px;
}

.consultation-list {
  margin-right: -40px;
}

.consultation-decor {
  background-image: url("./../images/cons-decor.png");
  height: 410px;
  width: 497px;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.decor-left {
  top: 30px;
  left: -155px;
}

.decor-right {
  top: -80px;
  right: -120px;
}

.consultation-format {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-bottom: 15px;
}

.consultation-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  display: inline-block;
}

.consultation-list :first-child .consultation-block:before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(./../images/location.png);
  display: block;
  margin-bottom: 21px;
}

.consultation-list :last-child .consultation-block:before {
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(./../images/web.png);
  display: block;
  margin-bottom: 21px;
}

.consultation-block {
  position: absolute;
  bottom: 50px;
  margin-left: 50px;
}

.consultation-item:hover .consultation-block:before {
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
}

.consultation-section .container {
  padding-bottom: 117px;
}

.appointment-button {
  width: 260px;
  height: 65px;
  background: linear-gradient(94.38deg, #B33EFB -3.82%, #391FD9 99.49%);
  border-radius: 50px;
  border-style: hidden;
}

.appointment-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  /* identical to box height */
  color: #FFFFFF;
  text-align: center;
}

.appointment-bg {
  background-image: url(../../images/apointment-bg.png), linear-gradient(91.75deg, #A035F4 0.46%, #C688F6 100%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: block;
  max-width: 1920px;
  max-height: 381px;
  text-align: center;
}

.input {
  width: 424px;
  height: 65px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
  border-style: hidden;
  padding-left: 45px;
}

.inputs :not(:last-child) {
  margin-right: 63px;
}

.inputs {
  display: inline-block;
  margin-right: 150px;
}

::-webkit-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}

::-moz-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}

:-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}

::-ms-input-placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}

::placeholder {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #000000;
}

.appointment-section .header::after {
  display: none;
}

.qualification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 50px;
}

.qualification-list :not(:last-child) {
  margin-right: 32px;
}

.qualification-img {
  max-height: 325px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 68px;
}

.arrows :not(:last-child) {
  margin-right: 35px;
}

.qualification-section .container {
  padding-bottom: 131px;
}

.qualification-section .header::after {
  width: 46%;
}

.contacts_social-links {
  margin-bottom: 0;
}
.contacts-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 80px;
  padding-top: 80px;
}
.contacts-item_left {
  max-width: 376px;
  padding-left: 27px;
  padding-right: 92px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 50px rgba(202, 122, 251, 0.4);
          box-shadow: 0px 4px 50px rgba(202, 122, 251, 0.4);
  margin-right: 35px;
  padding-bottom: 78px;
}
.contacts-item_right {
  width: 1190px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 50px rgba(202, 122, 251, 0.4);
          box-shadow: 0px 4px 50px rgba(202, 122, 251, 0.4);
}
.contacts-list {
  width: 260px;
  margin-bottom: 58px;
}
.contacts-list_link {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  text-decoration: none;
  color: #000000;
}
.contacts-list_item {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 40px;
  padding-left: 48px;
  position: relative;
}
.contacts-list_item__place::before {
  content: url(./../images/placeholder.png);
  position: absolute;
  top: 0px;
  left: 0px;
}
.contacts-list_item__phone::before {
  content: url(./../images/phone.png);
  position: absolute;
  top: 0px;
  left: 0px;
}
.contacts-list_item__mail::before {
  content: url(./../images/mail.png);
  position: absolute;
  top: 0px;
  left: 0px;
}
.contacts_map {
  max-width: 1190px;
  height: 560px;
  width: 100%;
}

@media (max-width: 800px) {
  .contacts-item_left {
    padding-right: 35px;
    margin-right: 25px;
  }
}
@media (max-width: 700px) {
  .contacts_map {
    height: 174px;
  }
  .contacts-items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
  }
  .contacts-item_left {
    padding-right: 27px;
    -webkit-box-shadow: none;
            box-shadow: none;
    margin-right: 0px;
    padding-bottom: 37px;
  }
  .contacts-item_right {
    width: 365px;
    -webkit-box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);
  }
}
.feedback-section .header {
  color: #ffffff;
}

.feedback {
  background-color: #F4F3F3;
  height: 380px;
  padding: 12px 15px 55px 25px;
}

.feedback-item {
  -ms-flex-preferred-size: calc(50% - 50px);
      flex-basis: calc(50% - 50px);
  position: relative;
  margin-right: 50px;
  overflow: hidden;
}

.feedback-bg {
  max-width: 1920px;
  max-height: 680px;
  background: url(./../images/feedback-bg.png), url(./../images/feedback-decor.png), linear-gradient(278deg, rgba(75, 13, 193, 0.8) 0%, rgba(161, 55, 245, 0.8) 106.71%), #F5E9FB;
  background-repeat: no-repeat;
  background-position: left top;
}

.feedbacks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: -50px;
  margin-bottom: 50px;
}

.feedback-section .container {
  padding-bottom: 94px;
}

.feedback-text {
  display: block;
  width: 100%;
  height: auto;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.feedback::before {
  display: block;
  content: "";
  background-image: url(./../images/quote.png);
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  margin-bottom: 11px;
}

.feedback-range {
  margin-left: auto;
  margin-right: auto;
}

.feedback-img {
  position: absolute;
  left: 50%;
  bottom: 40px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 110px;
  width: 110px;
  border-radius: 50%;
  border: 5px solid #FFFFFF;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
}

.feedback-wrap {
  margin-right: 41px;
  text-align: center;
}

.feedback-info {
  margin-bottom: 35px;
}

.feedback-section .header::after {
  background-color: #ffffff;
  width: 65%;
}

.feedback-person {
  position: absolute;
  bottom: 14px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  text-align: center;
  z-index: 2;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
}

.feedback-design {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.feedback-design-wrap {
  position: absolute;
  width: 100%;
  height: 200px;
  bottom: -200px;
}/*# sourceMappingURL=main.css.map */