
.counter-description{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;

        max-width: 203px;
}

.counter-list{
    display: flex;
}

.counter{font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    
    align-items: center;

    color: #AA5CE2;
justify-content: center;
}



.about-description{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    // max-width: 957px;

}

.about-section .container{
background-color: #F5E9FB;}

.about-img{
    margin-bottom: 37px;
    max-width: 618px;
}


.about-wrap{
   display: flex;
    padding-bottom: 87px;
}

.about-content{
    
}