
.counter-description{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    
        color: #000000;

        max-width: 203px;
        @media screen and (max-width:767px) {
            margin-left: auto;
            margin-right: auto;
        }
}

.counter-list{
    display: flex;
    padding-bottom: 87px;
    
    
}
@media screen and (max-width:767px) {
    .counter-list{
    display: block;
    padding-bottom: 41px;
}

 .counter-list-item:not(:last-child) {
 margin-bottom: 35px;
  }
}

.counter{font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    
    // align-items: center;

    color: #AA5CE2;
text-align: center;
}

@media screen and (min-width: 768px){
  .counter-list-item:not(:last-child){
 margin-right: 40px;
}  
}


.counter-list-item:hover{
    .counter{
    font-size: 75px;
    }
    // .counter-description{
    //     font-size: 26px;
    // }
}

.about-description{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;

    // max-width: 957px;

}

.about-section .container{
background-color: #F5E9FB;}

.about-img{
    margin-top: -124px;
    margin-bottom: 17px;
    max-width: 618px;
    
    margin-right: 31px;

    @media screen and (max-width:767px) {
        padding-top: 32px;
        max-width: 333px;
    }
}


.about-wrap{
   display: flex;
   flex-direction: row-reverse;
@media screen and (max-width:767px) {
    display: block;
}
}

.about-content{
   position: relative; 
 
}



.about-text{font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: #000000;}

        .about-text-indent{
            display: inline-block;
            margin-top: 20px;
            margin-bottom: 20px;
        }
.about-description{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.about-section .header{
  
    // text-align: left;
    margin-left: 65%;
    @media screen and (max-width:767px) {
        // text-align: center;

        margin-left: auto;
        margin-right: 358px;
    }
   
}
.about-section .header::after{
    width: 40%;
    
@media screen and (max-width:767px) {
    width: 58%;
        margin-left: 23px;}
}

.about-decor{
    position: absolute;
    top: 482px;
    right: 25px;
    width: 256px;

@media screen and (max-width:767px) {
    display: none;
}
}


