.appointment-button{
    display: inline-block;
    vertical-align: middle;
    width: 260px;
        height: 65px;
        background: linear-gradient(94.38deg, #B33EFB -3.82%, #391FD9 99.49%);
            border-radius: 50px;
            border-style: hidden;
            margin-left: 150px;
                margin-right: auto;
               

            @media screen and (max-width: 767px) {
                color: #FFFFFF;
                margin-left: auto;
                margin-right: auto;
                
            }
            
}
.appointment-header{
    font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 64px;
        line-height: 78px;
        /* identical to box height */
    
    
        color: #FFFFFF;
        text-align: center;
        @media screen and (max-width: 767px){
            
                font-weight: 700;
                font-size: 24px;
                line-height: 29px;
                text-align: center;
            
                width: 230px;
        }
}


.appointment-bg{
    background-image: url(../../images/apointment-bg.png ), linear-gradient(91.75deg, #A035F4 0.46%, #C688F6 100%) ;
    background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: block;
        max-width: 1920px;
        max-height: 381px;
    text-align: center;
@media screen and (max-width:767px){
    background-image: url(./../images/mobile/mobile-appointment-decor.png);
    max-width: 374px;
        max-height: 477px;
        background-color: #C483F5;
        padding-bottom: 59px;
       
}
@media screen and (max-width:320px) {
    background-image: url(./../images/mobile/mobile-appointment-decor.png);
    width: 264px;
    height: auto;
    // background-color: #C483F5;
    // padding-bottom: 59px;
overflow: hidden;
}
}

        .input{
            display: inline-block;
            vertical-align: middle;
            box-sizing: border-box;
            width: 424px;
                height: 65px;
                background: #FFFFFF;
                    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
                    border-radius: 50px;
                    border-style: hidden;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-left: 45px;
                    @media screen and (max-width:767px) {
                        width: 302px;
                        height: 55px;
                        padding-left: 32px;
                    }
                                     @media screen and (max-width:320px) {
                                             width: 264px;
                                             height: 55px;
                                             padding-left: 20px;
                                         }
        }
  
        .inputs :not(:last-child){
             @media screen and (min-width:768px){margin-right: 63px;
            
        }
                        @media screen and (max-width:767px) {
                            margin-bottom: 50px;
            
                        }
    }
        .inputs{
            display: inline-block;
            vertical-align: middle;
            margin-right: 150px;
            margin-bottom: 80px;
            @media screen and (max-width:767px){
          
                margin-top: 40px;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 65px;
            }
        }
@media screen and (min-width: 767px) {
  .appointment-wrap{
            display: inline-flex;
            margin-left: auto;
            margin-right: auto;
        }   
}
       

        ::placeholder{
            
            font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                /* identical to box height */
            
            
                color: #000000;
                @media screen and (max-width:767px){
                    color: rgba(0, 0, 0, 0.5);
                }
        }

        .appointment-section .header::after{
            display: none;
        }

    
form {
    vertical-align: middle;
}

