.contacts{
    &_social-links{
        margin-bottom: 0;
    }
    &-items{
        display: flex;
        padding-bottom: 80px;
        padding-top: 80px;
    }
    &-item{
        &_left{ 
            max-width: 376px;
            padding-left: 27px;
            padding-right: 92px;
            background: #FFFFFF;
            box-shadow: 0px 4px 50px rgba(202, 122, 251, 0.4);
            margin-right: 35px;
            padding-bottom: 78px;
        }
        &_right{ 
            width: 1190px;
            background: #FFFFFF;
            box-shadow: 0px 4px 50px rgba(202, 122, 251, 0.4);
        }
    }
    &-list{
        width: 260px;
        margin-bottom: 58px;
        &_link{
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 40px;
            text-decoration: none;
            color: #000000;
        }
        &_item{
            font-weight: 400;
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 40px;
            padding-left: 48px;
            position: relative;
            &__place{
                &::before{
                    content: url(./../images/placeholder.png);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
            &__phone{
                &::before{
                    content: url(./../images/phone.png);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
            &__mail{
                &::before{
                    content: url(./../images/mail.png);
                    position: absolute;
                    top: 0px;
                    left: 0px;
                }
            }
        }
    }
    &_map{
        max-width: 1190px;
        height: 560px;
        width: 100%;
    } 
}


@media (max-width: 800px){
    .contacts{
        &-item{
            &_left{
                padding-right: 35px;
                margin-right: 25px;
            }
        }
    }
}



@media (max-width: 700px){
    .contacts{
        &_map{
            height: 174px;
        }
        &-items{
            flex-direction: column;
            align-items: center;
            padding-bottom: 0px;
            padding-top: 0px;
        }
        &-item{
            &_left{
                padding-right: 27px;
                box-shadow: none;
                margin-right: 0px;
                padding-bottom: 37px;
            }
            &_right{ 
                width: 365px;
                box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.25);;
            }
        }
    }
}
