.consultation-list{
display:flex;
flex-wrap: nowrap;
justify-content: center;
position: relative;
}
.consultation-item {

margin-right: 40px;

}
.consultation-list{margin-right: -40px;}

.consultation-decor{
    background-image: url("./../images/cons-decor.png");
    height: 410px;
    width: 497px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;

}
.decor-left{
top:30px;
left: -155px;


}
.decor-right{
    top: -80px;
    right: -120px;
    
   
}



.consultation-format{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 28px;
    
        color: #000000;
        margin-bottom: 15px;
}

.consultation-text{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;

    color: #000000;
    display: inline-block;

}

.consultation-list :first-child .consultation-block:before{
content: "";
width: 50px;
height: 50px;
background-image: url(./../images/location.png);
display: block;

margin-bottom: 21px;
}

.consultation-list :last-child .consultation-block:before {
    content: "";
    width: 50px;
    height: 50px;
    background-image: url(./../images/web.png);
    
    display: block;
    
    margin-bottom: 21px;
}

.consultation-block{
    position: absolute;
    bottom: 50px;
    margin-left: 50px;
  
}
.consultation-item{
    &:hover{
        .consultation-block:before {
            width: 70px; height: 70px;
        background-repeat: no-repeat;
        }
        
    }
}


.consultation-section .container{
    padding-bottom: 117px;
}

// .consultation-section .header::after{
//     height: 5px;
// }