.directions{
    position: relative;
   
}
.container-directions{
    display: flex;
}
.container-directions :first-child{
    
   .direction-item::after  {
        content: "";
        position: absolute;
        right: 30px;
        width: 20px;
        height: 20px;
        background-color: green;
        display: inline-block;
        
}
}

.container-directions :last-child{

    .direction-item::before {
        content: "";
        position: absolute;
        left: 0px;
        margin-left: -30px;
        width: 20px;
        height: 20px;
        background-color: red;
        display: inline-block;
    }
}

.directions-picture{
    width: 30%;
    margin-right: 60px;
}
.direction-item{
    margin-bottom: 40px;
}

