.feedback-section .header{
    color: #ffffff;
}
.feedback{
    
    background-color: #F4F3F3;
    // width: 300px;
   
    height: 380px;
    // border-color: aqua;
    // border: 5px;
    padding: 12px 15px 55px 25px;
    
    
  
    
    // @supports (scrollbar-gutter: stable) {
    //         overflow-y: auto;
    //         scrollbar-gutter: stable;
    //     }
    //              ::-webkit-scrollbar {
    //                  width: 25px; 
                     
                    
        
    //              }
        
    //              ::-webkit-scrollbar-track {
    //                 //  background-color: #C460FF;
    //                 background-color: #ffffff;

    //                 border-radius: 50px;
                   
        
        
        
    //              }
        
    //              ::-webkit-scrollbar-thumb {
    //                  background-image: linear-gradient(91.75deg,
    //                          #A035F4 0.46%,
    //                          #C688F6 100%);
    //                  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    //                  border-radius: 50px;
                    
    //              }
    
}

.feedback-item {
    flex-basis: calc(100% / 2 - 50px);
       
    position: relative;
     margin-right: 50px;
    overflow: hidden;
//     scrollbar-width: thin;
//    scrollbar-color: #6969dd #C460FF;
}

.feedback-bg{
    
   
    max-width: 1920px;
    max-height: 680px;
   
   
    background: url(./../images/feedback-bg.png) , url(./../images/feedback-decor.png), linear-gradient(278deg, rgba(75, 13, 193, 0.8) 0%, rgba(161, 55, 245, 0.8) 106.71%),
        #F5E9FB ;
       
     
     background-repeat: no-repeat; 
     background-position: left top ; 
}

.feedbacks{
    display: flex;
    margin-right: -50px;
    margin-bottom: 50px;
}

.feedback-section .container{
    padding-bottom: 94px;
}

.feedback-text{
 display: block;
    width: 100%;
    height: auto;
   
// overflow-y: scroll;
// padding-right: 23px;
// @supports (scrollbar-gutter: stable) {
//         overflow-y: auto;
//         scrollbar-gutter: stable;
//     }
       
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
    
        color: #000000;
}
.feedback::before{
    display: block;
    content: "";
    background-image: url(./../images/quote.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    margin-bottom: 11px;
}
.feedback-range{
    margin-left: auto;
    margin-right: auto;
}

.feedback-img{
    
   position: absolute;
   left:50%;
   bottom: 40px;
   transform: translateX(-50%);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    // box-shadow: 0 0 7px #666;
   margin-left: auto;
   margin-right: auto;
   z-index: 2;

}

.feedback-wrap{
    margin-right: 41px;
    text-align: center;
}

.feedback-info{
    margin-bottom: 35px;
}

// .feedback-section .arrows{
//     // fill: #AA5CE2;
//     // fill: red;
// }
.feedback-section .header::after{
    background-color: #ffffff;
    width: 65%;
}


.feedback-person{
position: absolute;
bottom: 14px;
left: 50%;
transform: translateX(-50%);
text-align: center;
z-index: 2;

font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
}

.feedback-design{
    position: absolute;
  bottom: 0px;
 width: 100%;

 

}

.feedback-design-wrap{
    position: absolute;
    width: 100%;
    height: 200px;
    
    bottom: -200px;
    
}