.feedback-section .header{
    color: #ffffff;
    margin-bottom: 35px;
    
}

.feedback-section{
    overflow: hidden;
    position: relative;
}


.feedback{
    overflow: hidden;
    background-color: #F4F3F3;
    
 
    height: 380px;

    padding: 12px 15px 55px 25px;
    
    
  @media screen and (max-width:1500px){
    @supports (scrollbar-gutter: stable) {
                overflow-y:auto;
                -webkit-overflow-scrolling-y: touch;
                scrollbar-gutter: stable;
            }
                     ::-webkit-scrollbar {
                         width: 25px; 
    
    
    
                     }
    
                     ::-webkit-scrollbar-track {
                      
                        background-color: #ffffff;
    
                        border-radius: 50px;
    
    
    
    
                     }
    
                     ::-webkit-scrollbar-thumb {
                         background-image: linear-gradient(91.75deg,
                                 #A035F4 0.46%,
                                 #C688F6 100%);
                         box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                         border-radius: 50px;
    
                     }
  }
    
   
    
}

.feedback-item {
    @media screen and (max-width:1399px) {
            max-width: 500px;
        }
    @media screen and (max-width:767px) 
          {    max-width: 350px;}
           @media screen and (max-width:375px)
    { max-width: 300px;}
           @media screen and (max-width:320px){
        max-width: 240px; 
    }
  
         
                           @media screen and (min-width:1400px) 
                           { max-width: 800px;}

   
   
    opacity: 0;
margin-left: 15px;
    margin-right: 15px;

        visibility: hidden;
        transition: opasity 0.3s;
        visibility: 0s linear 0.3s;
        &.slick-active {
            opacity: 1;
                visibility: visible;
                transition-delay: 0s;
        }
    @media screen and (min-width:1400px) {
    
}

    position: relative;
  
   
    @media screen and (max-width:1399px) {
      
        height: auto;
        
    }
           @media screen and (max-width:767px) {
              
               height: auto;
               margin-right: 10px;
               margin-left: 10px;
           }
        
@media screen and (max-width:1500px){
    
    width: 100%;
    height: auto;

    scrollbar-width: thin;
           scrollbar-color: #6969dd #C460FF;
}
}

.feedback-bg{

   
    max-width: 1920px;
    max-height: 680px;
   
   
    background: url(./../images/feedback-bg.png) , url(./../images/feedback-decor.png), linear-gradient(278deg, rgba(75, 13, 193, 0.8) 0%, rgba(161, 55, 245, 0.8) 106.71%),
        #F5E9FB ;
       
     
     background-repeat: no-repeat; 
     background-position: left top ; 
     
}

.feedbacks{
    display: flex;
    flex-wrap: nowrap;
    margin-right: -50px;
    margin-bottom: 36px;
    
    @media screen and  (min-width: 900px){
            margin-bottom: -8px;
    }
       
    @media screen and (max-width: 1400px) {
        margin-top: 35px;
    
    }
}

.feedback-section .container{
    padding-bottom: 48px;
}

.feedback-text{
 display: block;

    width: auto;
    height: auto;
   
    @media screen and (max-width:1900px) {
        font-size: 16px;
    }

   @media screen and (max-width:1500px){
    width: 100%; 

        height: 144px;
    overflow-y: scroll;
        padding-right: 23px;
        @supports (scrollbar-gutter: stable) {
                overflow-y: auto;
                scrollbar-gutter: stable;
   }}

       
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
       
        line-height: 21px;
    
        color: #000000;
}
.feedback::before{
    display: block;
    content: "";
    background-image: url(./../images/quote.png);
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    margin-bottom: 11px;
}
.feedback-range{
    margin-left: auto;
    margin-right: auto;
}

.feedback-img{
    
   position: absolute;
   left:50%;
   bottom: 40px;
   transform: translateX(-50%);
    height: 110px;
    width: 110px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
   
   margin-left: auto;
   margin-right: auto;
   z-index: 2;
 @media screen and (max-width:1400px){
    height: 80px;
    width: 80px;
    bottom: 65px;
    
    max-width:unset!important;
 }
 @media screen and (max-width:320px) {
        bottom: 49px;
 }
}

.feedback-wrap{
    margin-right: 41px;
    text-align: center;
}

.feedback-info{
    margin-bottom: 35px;
}

.feedback-section .header::after{
    background-color: #ffffff;
    width: 65%;

    @media screen and (max-width:1400px){
            width: 70%;
            margin-left: 15px;
    }
}


.feedback-person{
position: absolute;
bottom: 14px;
left: 50%;
transform: translateX(-50%);
text-align: center;
z-index: 2;

font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    text-align: center;

    color: #FFFFFF;
       @media screen and (max-width: 1400px) {
        width: 43%;
    }
    @media screen and (max-width:320px) {
    
            width: 100%;
        }
 
}

.feedback-design{
  
    position: absolute;
    width: 100%;
    height: auto;

top: 260px;

height: auto;
overflow: hidden;



  @media screen and (min-width:1400px) {
top: 260px;} 
@media screen and (max-width:320px) {

top:285px;
 }

}



