

.hero-section {
    
 
    display: block;
    outline: 1px solid red;
   
    
   
}


.hero-foto{
width: 400px;
    height:400px;
  margin-right: 50px;
    border-radius: 50%;
    
}


.hero-section .container  {
    background-color: #F5E9FB;
}


.hero-header{
    
    font-size: 17pt;
}

section{
outline: 1px solid red;}

.hero-block-header{
    font-size: 25pt;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.hero-block-header::after{
    margin-bottom: 50px;
   margin: auto;
    content: "";
    display: block;
    width: 50px;
    height: 50px;

    
    background-image: url(../swg/tel.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-button{
    display: flex;
}

.hero-header-topic{
font-family: 'Montserrat',
                sans-serif;
                font-size: 700;
              text-transform: uppercase;
              color: #000000;
            font-style: normal;
                
                font-size: 64px;
                line-height: 78px;
                letter-spacing: 0.035em;
}

.hero-header-person{font-family: 'Pattaya',
        sans-serif;
    font-size: 400;
    font-style: normal;
    color: #AA5CE2;
    font-size: 64px;
        line-height: 89px;
        letter-spacing: 0.035em;
}

h1 {margin-bottom: 44px;}

.button{
    width: 237px;
    height: 70px; 
    border-radius: 50px;   
    border: 2px solid #3F0958;
    color: #161616;
    
    margin-bottom: 141px;
}
.button-accent{
    background-image: linear-gradient(to right, #B33EFB, #391FD9);
border-color: transparent;
color: #FFFFFF;

}
.hero-button :not(:last-child){
margin-right: 27px;
}
.hero-text{
    margin-bottom: 64px;
}

.social-links{
    display: flex;
}
.social-links :not(:last-child){
    margin-right: 15px;
}

.hero-wrap{
    display: flex;
}

.hero-foto{
    background-image: url(/images/hero-bg.png);
}