




.hero-section .container  {
    background-color: #F5E9FB;
}


.hero-header{
    
    font-size: 17pt;
}

section{
outline: 1px solid red;}

.hero-block-header{
    font-size: 25pt;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.hero-block-header::after{
    margin-bottom: 50px;
   margin: auto;
    content: "";
    display: block;
    width: 50px;
    height: 50px;

    
    background-image: url(../swg/tel.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-button{
    display: flex;
}

.hero-header-topic{
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.035em;
    text-transform: uppercase;

    color: #000000;
    @media screen and (max-width: 767px){
        
            font-size: 32px;
            line-height: 39px;
            text-align: center;
           
    }
}

.hero-header-person{


        font-family: 'Pattaya';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 89px;
            letter-spacing: 0.035em;
        
            background: linear-gradient(94.38deg, #B33EFB -3.82%, #391FD9 99.49%), #AA5CE2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;

            @media screen and (max-width:767px){
                
                    font-size: 32px;
                    line-height: 44px;
                    text-align: center;
                    
            }
}



.button{
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    width: 237px;
    height: 70px; 
    border-radius: 50px;   
    border: 2px solid #3F0958;
    color: #161616;
    
    margin-bottom: 141px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    
        color: #161616;
        text-align: center;
     
       padding-top: 21px;
       padding-bottom: 21px;
    @media screen and (max-width:767px){
        margin-bottom: 41px;
        width: 150px;
        height: 55px;
        padding: 0;
        align-items: center;
        justify-content: center;
        
            font-size: 18px;
            line-height: 21px;
        
           
    }
}
.button {
    &:focus,
&:hover{
    box-shadow: 0px 4px 4px rgba(94, 68, 68, 0.25);
}
}

.button-accent{
    background-image: linear-gradient(to right, #B33EFB, #391FD9);
border-style: hidden;
color: #FFFFFF;

    
    
      
        

}
.hero-button :not(:last-child){
margin-right: 27px;
@media screen and (max-width:767px){
margin-right: 33px;
}
}
.hero-text{
    margin-bottom: 64px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    
        color: #141313;
        max-width: 507px;

        @media screen and (max-width: 767px){
            
                font-size: 20px;
                line-height: 23px;
                text-align: center;
                width: 335px;

                margin-bottom: 36px;
        }
}

.social-links{
    display: flex;
    
            margin-bottom: 50px;
          
       @media screen and (max-width:767px){
        display: none;
       }    
            
       
}
.social-links :not(:last-child){
    margin-right: 15px;
}

.hero-wrap{
    display: flex;
    // position: absolute;
    background-image:  url(./../images/hero-decor.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    // left: 50%;
    // transform: translateX(-50%);
@media screen and (max-width: 767px){
    background-image: none;
}
}

// .hero-decor{
    // display: block;
    
    // // background-image:  url(./../images/hero-bg.png);
    // background-color: #0A0909;
    // background-position: right;
    // background-size: contain;
    // background-repeat: no-repeat;
    // position: absolute;
    // top:-100px;
    // height: 900px;
    // width: 1920px;
// }

// .hero-foto{
//     // background-image: url(/images/hero-bg.png);
//     width: 784px;
//     height:765px;
// }
.logo{
    margin-right: 81px;
    @media screen and (max-width: 767px){
        margin-right: 44px;
        width: 57px;
        height: 45px;
    }
  
}

.contacts-img{
    display: inline-block;
    margin-right: 20px;
}

.contacts-item{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    
        color: #0A0909;
       
}

.foto-frame{
    display: block;
    position: absolute;
        left: 50%;
        z-index: 1;
        transform: translateX(-50%);
            background-image: url(./../images/nat-ugai.png);
            //   background-color: #0A0909;
              background-position: right;
              background-size: contain;
              background-repeat: no-repeat;
              position: absolute;
              top:0px;
                height: 900px;
                    width: 1920px;
                    @media screen and (max-width:767px){
                        background-image: url(./../images/mobile-hero-img.png);
                        height: 816px;
                            width: 811px;
                           margin-left: auto;
                           margin-right: auto;
                        background-position: center;
                    }
}
.contacts{
    z-index: 10;
        
}
.hero-content{
 z-index: 20;
 @media screen and (max-width:767px){
    margin-left: auto;
margin-right: auto;
 }


}

h1{margin-bottom: 44px;
    padding-top: 151px;
    @media screen and (max-width:767px){
        width: 335px;
        text-align: center;
        padding-top: 45px;
        margin-bottom: 370px;
    }
}
