

.hero-section {
    
 
    display: block;
    outline: 1px solid red;
   
    
   
}


.hero-foto{
width: 400px;
    height:400px;
  margin-right: 50px;
    border-radius: 50%;
    
}


.hero-section .container  {
    background-color: #F5E9FB;
}


.hero-header{
    
    font-size: 17pt;
}

section{
outline: 1px solid red;}

.hero-block-header{
    font-size: 25pt;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.hero-block-header::after{
    margin-bottom: 50px;
   margin: auto;
    content: "";
    display: block;
    width: 50px;
    height: 50px;

    
    background-image: url(../swg/tel.svg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.hero-button{
    display: flex;
}

.hero-header-topic{
font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 78px;
    letter-spacing: 0.035em;
    text-transform: uppercase;

    color: #000000;
}

.hero-header-person{


        font-family: 'Pattaya';
            font-style: normal;
            font-weight: 400;
            font-size: 64px;
            line-height: 89px;
            letter-spacing: 0.035em;
        
            background: linear-gradient(94.38deg, #B33EFB -3.82%, #391FD9 99.49%), #AA5CE2;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            // text-fill-color: transparent;
}

h1 {margin-bottom: 44px;
padding-top: 151px;}

.button{
    width: 237px;
    height: 70px; 
    border-radius: 50px;   
    border: 2px solid #3F0958;
    color: #161616;
    
    margin-bottom: 141px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    
        color: #161616;
}
.button-accent{
    background-image: linear-gradient(to right, #B33EFB, #391FD9);
border-style: hidden;
color: #FFFFFF;

    font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
    
        color: #FFFFFF;

}
.hero-button :not(:last-child){
margin-right: 27px;
}
.hero-text{
    margin-bottom: 64px;
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
    
        color: #141313;
        max-width: 507px;
}

.social-links{
    display: flex;
    
            margin-bottom: 50px;
       
}
.social-links :not(:last-child){
    margin-right: 15px;
}

.hero-wrap{
    display: flex;
    background-image: url(./../images/hero-bg.png), url(./../images/hero-decor.png);
    background-position: right, center;
    background-size: contain;
    background-repeat: no-repeat;

}

.hero-foto{
    // background-image: url(/images/hero-bg.png);
    width: 784px;
    height:765px;
}
.logo{
    margin-right: 81px;
  
}

.contacts-img{
    display: inline-block;
    margin-right: 20px;
}

.contacts-item{
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
    
        color: #0A0909;
}


