.header-wrap{
    display: flex;
   
        padding-top: 57px;
        padding-bottom: 16px;
      
}
.navigation {
  display: flex;
  margin-right: 3px;

}

header {display: flex;
justify-content: space-between;
align-items: center;


}

header .container{
  background-color: #F5E9FB;
}


.navigation li{
        padding: 10px;
    &:not(:last-child){
      margin-right: 20px;  
    }
}
.navigation-item{
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;

color: #181717;}

