.navigation{
    display: flex;
}

header {display: flex;
justify-content: space-between;
align-items: center;
padding: 20px;
background-color: #F5E9FB;
}


.navigation li{
        padding: 10px;
    & :not(:last-child){
      margin-right: 10px;  
    }
}