.qualification-list{
    display: flex;
    margin-bottom: 50px;
    
}
.qualification-list :not(:last-child){
    margin-right: 32px;
}
.qualification-img{
    max-height: 325px;
    box-shadow:(0px 4px 20px rgba(0, 0, 0, 0.25));
 
}
.arrows{
    display: flex;
    justify-content: flex-end;
    margin-right: 68px;
}
.arrows :not(:last-child){
    margin-right:  35px;
}

.qualification-section .container{
    padding-bottom: 131px;
}

.qualification-section .header::after{
    width: 46%;
}

// slider

.qualification-list_slider{
    margin: 0 auto;
}

.qualification-list_slider .slick-next:before {
    content: url(/images/svg/files/arrow-right.svg);
    opacity: 1;
    // background-color: pink;
}

.qualification-list_slider .slick-prev:before {
    content: url(/images/svg/files/arrow-left.svg);
    opacity: 1;
    // background-color: red;
}

.qualification-list_slider  .slick-next {
    right: 85px;
    top: 365px;
}

.qualification-list_slider  .slick-prev {
    left: 1360px;
    top: 365px;
}


.qualification-img_slider{
    height: 325px;
    margin: 0 auto;
}

.qualification-item_slider{
    // margin: 0 auto;
    align-items: center;
}


.qualification-list :not(:last-child) {
    margin-right: 16px;
    margin-left: 16px;
}
