body {
    background-color: #ffffff;
    color: #2f303a;
    // font-family: 'Montserrat',
    //         sans-serif;
    //     font-family: 'Pattaya',
    //         sans-serif;
        font-family: 'Roboto',
            sans-serif;
    font-size: 20px;
}

body.modal-open {
    overflow: hidden;
}

