.container{
    width: 100%;
    padding-left: 160px;
    padding-right: 160px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1920px;
    // outline: solid 2px red;

    @media screen and (max-width:767px){
        padding-left: 20px;
            padding-right: 20px;
            max-width: 727px;
    }
}